.rcw-widget-container {
    z-index: 15 !important;
}

.rcw-launcher{
    right: 20px !important;
}

.rcw-conversation-container.hidden {
    display: none !important;
}

.rcw-conversation-container.active {
    display: block !important;
    transition: opacity .3s ease !important;
}


